*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

/*
index.html
*/
.intro_bg{
    padding-bottom: 10rem;
    background: no-repeat center center;
    background-size: cover;     
}
.intro_text{
    text-align: center;
}
.intro_text>h1{
    margin:100px auto auto auto;
    font-size: 80px;
}
.intro_text>h3{
    margin:450px auto 30px auto;
}
.intro_text>h1,h3
{
    font-weight: bold;
    color:#fff;
}
.intro_text>a{
    font-weight: bold;
}
.intro_text>hr{
    margin:auto auto 30px auto;
    width:50%;
    height:5px;
    background-color:#fff;
}


/*
fileUpload.html
*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    margin-bottom: 3rem;
    padding-top: calc(6rem + 57px);
    padding-bottom: 6rem;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    z-index: 1;
  }
  
  #page1{
    padding-top: 300px;
  }
  #page2{
    padding-top: 200px;
  }
  
.fileupload_pg,.progress_pg,
.detect_pg, .pipe_info_pg,
 .cost_pg, .pipe_cost_pg{
    text-align: center;
}

.fileupload_pg>hr{
    margin:30px auto 30px auto;
    width:80%;
    height:2px;
    background-color:black;
}

.fileupload_pg .insert {
    padding: 20px 30px;
    display: block;
    width: 700px;
    margin: 5vh auto;
    
}
.fileupload_pg .insert .file-list {
    height: 200px;
    width: 640px;
    overflow: auto;
    border: 1px solid black;
    padding: 10px;
    margin-top:10px;
    text-align: left;
}
.fileupload_pg .insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
/* .fileupload_pg .insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
} 

#input-file{
    width: 330px;
}
*/
.show_detect_btn, .predict_cost_btn, .show_cost_btn, .gohome_btn {
    margin:100px 10px 100px 10px;
}


/*
progress.html
*/

.progress{
    margin-top: 80px;
}
.progress_pg>hr{
    margin:30px auto 30px auto;
    width:80%;
    height:2px;
    background-color:black;
}
.bi2{
    font-size: 200px;
    color:black;    
}
/*
detectResult.html
*/
.bi{
    font-size: 30px;
    line-height: 22px;
    color:black;
}

.detect_pg>hr{
    margin:30px auto 30px auto;
    width:80%;
    height:2px;
    background-color:black;
}

/*
pipeInfo.html
*/
.pipe_info_pg>hr{
    margin:30px auto 30px auto;
    width:80%;
    height:2px;
    background-color:black;
}
.pipeInfoForm{
    text-align: left;
    margin-top: 50px;
    border: 1px solid black;
    padding : 20px 50px 20px 50px;
}

.pipe_cost_pg>hr{
    margin:30px auto 30px auto;
    width:80%;
    height:2px;
    background-color:black;
}