
    <tr>
        <th scope="row">1</th>
        <td>CL(Crack-Longitudinal) </td>
        <td>C</td>
        <td><img src="/static/result/CL_002259.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">2</th>
        <td>CL(Crack-Longitudinal) </td>
        <td>C</td>
        <td><img src="/static/result/CL_002261.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">3</th>
        <td>DS(Deposits-Silty) </td>
        <td>C</td>
        <td><img src="/static/result/DS_004295.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">4</th>
        <td>DS(Deposits-Silty) </td>
        <td>C</td>
        <td><img src="/static/result/DS_004300.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">5</th>
        <td>UD_IN(Undamaged-Inside) </td>
        <td>-</td>
        <td><img src="/static/result/IN_011351.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">6</th>
        <td>UD_IN(Undamaged-Inside) </td>
        <td>-</td>
        <td><img src="/static/result/IN_011454.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">7</th>
        <td>UD_IN(Undamaged-Inside) </td>
        <td>-</td>
        <td><img src="/static/result/IN_011456.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">8</th>
        <td>DS(Deposits-Silty) </td>
        <td>C</td>
        <td><img src="/static/result/JD_004511.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">9</th>
        <td>DS(Deposits-Silty) </td>
        <td>C</td>
        <td><img src="/static/result/JD_004512.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">10</th>
        <td>JF(Joint-Faulty) </td>
        <td>C</td>
        <td><img src="/static/result/JF_004485.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">11</th>
        <td>LP(Lateral-Protruding) </td>
        <td>C</td>
        <td><img src="/static/result/LP_004455.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">12</th>
        <td>LP(Lateral-Protruding) </td>
        <td>C</td>
        <td><img src="/static/result/LP_004480.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">13</th>
        <td>CL(Crack-Longitudinal) </td>
        <td>C</td>
        <td><img src="/static/result/SD_002335.png" width=200></td>
    </tr>
    
    <tr>
        <th scope="row">14</th>
        <td>JF(Joint-Faulty) </td>
        <td>C</td>
        <td><img src="/static/result/SD_002360.png" width=200></td>
    </tr>
    
        <td colspan="4" style="color :blue;"><i class="bi bi-exclamation-triangle" style="color :blue;"></i></i> Pipe state : good <i class="bi bi-exclamation-triangle" style="color :blue;"></i></td>
        